version: '3.8'
services:
  applicant-app:
    image: applicant-service
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - DB_URL=jdbc:mysql://applicant-mysql:3306/applicant_service?useUnicode=true&characterEncoding=utf8&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC
      - DB_USERNAME=root
      - DB_PASSWORD=admin123
    ports:
      - '8080:8080'
    depends_on:
      - applicant-mysql
  applicant-mysql:
    image: mysql:5.7
    command: mysqld --lower_case_table_names=1 --skip-ssl --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --explicit_defaults_for_timestamp
    environment:
      - MYSQL_DATABASE=applicant_service
      - MYSQL_ROOT_PASSWORD=admin123
    ports:
      - '3306:3306'
    volumes:
      - applicant-mysql-data:/var/lib/applicant-mysql
volumes:
  applicant-mysql-data: